---
layout: page
title: 殷东亮的博客
<!-- tagline: Supporting tagline -->
---
{% include JB/setup %}

<div class="ui secondary pointing menu">
	<a class="active item" href="/">
		Home
	</a>
	<a class="item" href="/archive.html">
		Archive
	</a>
	<a class="item" href="/tags.html">
		Tags
	</a>
	<a class="item" href="/about.html">
		About
	</a>
</div>
<div class="ui">
	<div class="ui">
		<h2></h2>
		<ul class="posts ui list">
			{% for post in paginator.posts %}
			<li class="">
				<h3 class=""><a href="{{ BASE_PATH }}{{ post.url }}" style="color: #468DF0;">{{ post.title }}</a></h3>
				<div>
					<span class="site-footer-credits">{{ post.date | date_to_string }}</span>
				</div>
				<div></div>
				<div style="color: #666;">
					<p>
						{{ post.content | split:'<!--break-->' | first }}
						{% if post.content contains '<!--break-->' %}
						<a href="{{ post.url }}" style="color: #DB5A44;">Read More</a><hr>
						{% endif %}
					</p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>


<div class="ui">
	<div style="text-align: center;" class="site-footer-credits">
		<span class="">第 {{ paginator.page }} 页，共 {{ paginator.total_pages }} 页</span>

		{% if paginator.previous_page %}
		<a class="" rel="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" > « Previous </a>
		{% endif %}

		{% if paginator.page == 1 %}
		<span class="">1</span>
		{% else %}
		<a class="" href="/">1</a>
		{% endif %}
		{% for count in (2..paginator.total_pages) %}
		{% if count == paginator.page %}
		<span>{{ count }}</span>
		{% else %}
		<a class="" href="{{ site.baseurl }}/blog/page{{ count }}">{{ count }}</a>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a class="" rel="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" > Next » </a>
		{% endif %}
	</div>
</div>
