<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img class = "imglogo" src="/logo.png" id="gravatar" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a></h2>
  <div id="bio">
    <p align="center">现主要做Python Web后端</p>
  </div>

  <div id="navigation">
    {% include nav.html %}
  </div>

  <div id="social">
    {% include social.html %}
  </div>

  <div id="qr">
    {% include qrcode.html %}
  </div>


</nav>
