/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	#logo {
		font-size: 21px;
		margin-bottom: 15px; }
	nav .button {
		padding: 9px 20px 11px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav {
		width: 160px; }
	.sidebar h2 {
		font-size: 18px;
	}

	#bio {
		font-size: 14px;
	}
}

/*nav{font-family:"Electrolize",sans-serif;font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em;width:9em;text-align:right;}
*/
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	header h1 { font-size: 34px; line-height: 37px; }
	nav { position: relative; }
	nav ul,
	#logo { text-align: center; }
	.sidebar {
		display: none;
	}
	.content {
		border: 0px;
		padding-left: 0px;
	}
}

#navigation a{display:block;padding:.1em .1em;color:#000000;}
#navigation a:hover{background-color:{{ site.data.theme.highlight_color }};text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidebar {
		display: none;
	}

	h1 {
		font-size: 28px;
		line-height: 36px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.sidebar {
		display: none;
	}

	h1 {
		font-size: 24px;
		line-height: 32px;
	}

	h2 {
		font-size: 22px;
		line-height: 24px;
	}
}

/* #Add paginator class, 2016-05-12
================================================== */
.paginator {
font: 14px Arial,Helvetica,sans-serif;
color: #AAA;
margin: 20px 0;
line-height: 150%;
display: block;
}

.paginator a,.paginator span{
padding: 0 4px;
margin: 2px;
text-decoration: none;
}

.paginator .current-page {
color: white;
background: #ff0000;
}

.paginator a:hover{
color: white;
background: #83BF73;
}