<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
  <link rel="icon" type="image/png" href="{{ ASSET_PATH }}/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="/dist/semantic.css">
  <script type="text/javascript" src="/dist/semantic.min.js"></script>
</head>
<body>
  <section class="main-content">
   {{ content }}
   <footer class="site-footer">
     <span class="site-footer-credits" style="color: #606c71;">&copy; 2013-2015 殷东亮(tcitry).</span>
   </footer>
 </section>
 {% include JB/analytics %}
</body>
</html>
